<div>

  <!-- Start: Sidebars ------------------------------------------------------------------------------------------------------>
  
  <app-sidebar></app-sidebar>

  <!-- End: Sidebars ------------------------------------------------------------------------------------------------------>

  <div class="lg:pl-72">
    <div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-xs sm:gap-x-6 sm:px-6 lg:px-8">
      <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden">
        <span class="sr-only">Open sidebar</span>
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>

      <!-- Separator -->
      <div class="h-6 w-px bg-gray-900/10 lg:hidden" aria-hidden="true"></div>

      <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">

        <!-- Start: Search Input ----------------------------------------------------->

        <div class="flex flex-1 items-center gap-x-4 self-stretch lg:gap-x-6">
          <app-search class="w-full" (searchChange)="handleSearchChange($event)"></app-search>
        </div>
        

        <!-- End: Search Input ----------------------------------------------------->

        <div class="flex items-center gap-x-4 lg:gap-x-6">

          <app-notification-bell></app-notification-bell>

          <!-- Separator -->
          <div class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-900/10" aria-hidden="true"></div>

          <!-- Start: Profile dropdown ------------------------------------------------------------->

          <app-profile-dropdown>
            (onProfileClick)="handleProfileClick()"
            (onSignOutClick)="handleSignOutClick()"
          </app-profile-dropdown>
        
          <!-- End: Profile dropdown ------------------------------------------------------------->

        </div>
      </div>
    </div>

    <main class="py-10">
      <div class="px-4 sm:px-6 lg:px-8">
        <!-- Your content -->
      </div>
    </main>
  </div>
</div>
