<form class="flex w-full items-center" action="#" method="GET">
  <div class="relative w-full">
    <input
      type="search"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchChange($event)"
      name="search"
      aria-label="Search"
      class="block w-full rounded-md border border-gray-300 bg-white pl-10 pr-4 py-2 text-base text-gray-900 shadow-sm focus:outline-none placeholder:text-gray-400 sm:text-sm"
      placeholder="Search"
    />
    <svg
      class="absolute left-3 top-1/2 transform -translate-y-1/2 h-5 w-5 text-gray-400"
      viewBox="0 0 20 20"
      fill="currentColor"
      aria-hidden="true"
      data-slot="icon"
    >
      <path
        fill-rule="evenodd"
        d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
        clip-rule="evenodd"
      />
    </svg>
  </div>
</form>
